#containerbtnFoods{
    position: fixed;
    margin: 270px 0px 0px 80px;
    width: 410px;
    display: flex;
    justify-content: space-around;
    padding: 0px 20px 0px 20px;
}
.btnFoodss{
    width: 120px;
    height: 60px;
    background: #FDF4CB;
    border-radius: 10px;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Courgette', cursive;
    font-size: 16px;
    font-weight: bold
}

.btnFoods:focus{
    background: rgba(0, 0, 0, 0.5);
    outline: none;
}