.kitcherContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    margin-top: 200px;
    margin-left: 20px;
    width: 100%;
    height: 480px;
    overflow: scroll;
}

.btnKitchenReturn{
    width: 900px;
    display: flex;
    justify-content: start;
    padding-bottom: 35px;
    padding-left: 20px;
}

.orderKitchen{
    width: 280px;
    height: 390px;
    display: flex;
    flex-direction: column;
    background: #FFE1C5;
    border: 1px solid #DB2742;
    box-sizing: border-box;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 15px;
    margin: 0px 10px 20px 10px;
}

.nameTable{
    font-family: Courgette;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    color: #000000;
}

.btnDeleteKitchen{
    background: transparent;
    padding-left: 145px;
    margin-top: -40px;
    outline: none;
    position: absolute;
    border: 0;
}

.imgBtnDeleteKitchen{
    height: 30px;
}

.dateAndHour{
    margin-top: -10px;
    font-family: Arya;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #000000;
}

.dateWaiter{
    margin-top: -10px;
    font-size: 15px;
}

.dateClient{
    margin-top: -10px;
    font-size: 15px;
}

.divProduct{
    margin-top: 15px;
}

.productOrder{
    margin-top: -30px;
    font-family: Arya;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 54px;
    display: flex;
    align-items: center;
    color: #000000;
}


.btnListo{
    position: absolute;
    margin-left: 24px;
    margin-top: 4px;
    width: 160px;
    height: 43px;
    background: #6B3D2E;
    border: 1px solid #DB2742;
    box-sizing: border-box;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    font-family: Courgette;
    font-size: 25px;
    line-height: 45px;
    align-items: center;
    text-align: center;
    color: #FDF4CB;
    border: 1px solid #DB2742;

}
.kitchenReady{
    background: transparent;
    border: 0;
    outline: none;
}
.btnKitchenReady{
    height: 50px;
}

@media all and (min-width: 1440px){
    .kitcherContainer{
        height: 480px;
        width: 1350px;
        margin-left: 50px;
    }
    .btnKitchenReturn{
        width: 100%;
        padding-left: 85px;
    }
}