.menuContainerDeliver{
    position: fixed;
    margin-top: -700px;
    margin-left: 80px;
}

.containerProductsDeliver{
    background: rgba(255, 195, 125, 0.85);
    height: 455px;
    width: 870px;
    border: 1px solid #6B3D2E;
    box-sizing: border-box;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 0px 15px 15px 15px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.orderDeliver{
    width: 260px;
    height: 390px;
    display: flex;
    flex-direction: column;
    background: #FFE1C5;
    border: 1px solid #DB2742;
    box-sizing: border-box;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 15px;
    margin: 30px 10px 20px 10px;
}
.deliverButton{
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
}
.deliverReady{
    width: 200px;
    height: 45px;
    border-radius: 15px;
    font-family: 'Courgette';
    font-size: 30px;
    background: #FFD157;
    border: 1px solid #6B3D2E;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #6B3D2E;
    border: 1px solid #DB2742;
}

@media all and (min-width: 1440px){
    .menuContainerDeliver{
        margin-left: 220px;
    }
    .containerProductsDeliver{
        height: 400px;
        width: 1055px;
    }
    .orderDeliver{
        margin: 30px 30px 20px 30px;
    }
}