.containerOrder{
    position: fixed;
    width: 400px;
    height: 390px;
    display: flex;
    flex-direction: column;
    background: #FFE1C5;
    border: 1px solid #DB2742;
    box-sizing: border-box;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-left: 460px;
    margin-top: -95px;
    padding: 15px;
}

.orderTitle{
    display: flex;
    flex-direction: column;
    padding: 0px 13px 0px 13px;
}

.containerTittleOrden{
    font-family: 'Courgette', cursive;
    font-size: 23px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.containerClientDateAndHour{
    display: flex;
    justify-content: space-between;
    font-family: 'Arya', sans-serif;
}

.totalOrder{
    width: 380px;
    flex-direction: column;
}

.scrollProduct{
    overflow: scroll;
    height: 225px;
    width: 365px;
}

.orderList{
    display: flex;
    justify-content: space-between;
    font-family: 'Arya', sans-serif;
    padding: 0px 83px 0px 13px;
    height: 30px;
    align-items: center;
}

.containerOrderProduct{
    display: flex;
    justify-content: space-between;
    font-family: 'Arya', sans-serif;
    padding: 0px 0px 0px 13px;
}
.containerAlineProduct{
    width: 160px;
}
.containerAlinePrice{
    width: 100px;
    text-align: end;
}
.containerAlinebtn{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50px;
}

.orderTotal{
    position: fixed;
    font-family: 'Arya', sans-serif;
    width: 365px;
    padding-right:13px;
    margin-top: 0px;
}

.btnDelete{
    background: transparent;
    outline: none;
    display: flex;
    border: 0;
}
.imgBtnDelete{
    height: 30px;
}

.containerTotal{
    display: flex;
    justify-content: space-between;
    padding: 0px 70px 0px 13px;
}

.containerButtonsOrder {
    position: fixed;
    margin-top: 390px;
    margin-left: -16px;
    height: 40px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.sendToKitchenButton{
    font-family: 'Courgette', cursive;
    background: #FFD157;
    border: 1px solid #6B3D2E;
    box-sizing: border-box;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 23px;
    width: 170px;
    height: 50px;
    font-weight: bold;
}

.returnButton{
    font-family: 'Courgette', cursive;
    background: #DB2742;
    border: 1px solid #6B3D2E;
    box-sizing: border-box;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 23px;
    width: 170px;
    height: 50px;
    font-weight: bold;
}

/*<-----------------------MEDIA QUERY----------------------->*/
@media all and (min-width: 1440px){
    .containerOrder{
        width: 430px;
        height: 330px;
        margin-left: 600px;
    }
    .scrollProduct{
        height: 170px;
        width: 400px;
    }
    .orderList{
        width: 300px;
    }
    .totalOrder{
        width: 400px;
    }
    .containerTotal{
        padding: 0px 53px 0px 13px;
    }
    .containerButtonsOrder {
        margin-top: 333px;
        width: 432px;
    }
}