

*{
    margin: 0;
    padding: 0;
}

.fatherWelcome{
    background-image: url("../img/welcome2.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 900px;
}

#cookButton{
    position: fixed;
    font-family: 'Courgette', cursive;
    background: #FFD157;
    border: 1px solid #6B3D2E;
    box-sizing: border-box;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 23px;
    width: 170px;
    height: 50px;
    margin-top: 320px;
    margin-left: 70px;
}

#waiterButton{
    position: fixed;
    font-family: 'Courgette', cursive;
    background: #DB2742;
    border: 1px solid #6B3D2E;
    box-sizing: border-box;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 170px;
    height: 50px;
    margin-top: 390px;
    margin-left: 70px;
    font-size: 24px;
}

.selectName{
    position: fixed;
    font-family: 'Courgette', cursive;
    background: rgba(255, 225, 197, 0.9);
    border: 1px solid #6B3D2E;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 170px;
    height: 50px;
    margin-left: 70px;
    margin-top: -440px;
    font-size: 15px;
  }

.background2{
    background-image: url("../img/burgerqueen2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 900px;
}

#banner{
    position: fixed;
    width: 100%;
    height: 134px;
    background: #6B3D2E;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#logoBanner{
    width: 340px;    
}

.client{
    position: fixed;
    font-family: 'Courgette', cursive;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 430px;
    margin-left: -100px;
}

.inputClient{
    background: rgba(255, 225, 197, 0.9);
    border: 1px solid #6B3D2E;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 10px;
    width: 210px;
    height: 30px;
    padding: 5px;
}

#tableContainer{
    font-family: 'Courgette', cursive;
    font-size: 15px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 220px;
}
.tableButtons{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 900px;
    padding: 40px;

}
.btnTable{
    background: transparent;
    border: 0;
    margin: 0px 30px 20px 30px;
}

.btnTable:focus{
    background: rgba(0, 0, 0, 0.5);
    outline: none;
    border-radius: 15px;
}


.labelTable{
    position: fixed;
    margin-top: 20px;
    margin-left: 70px;
    font-family: 'Courgette', cursive;
    font-size: 30px;
}
.imgTable{
    width: 230px;
    cursor: pointer;
}
.btnSend, .btnGo{
    position: fixed;
    font-family: 'Courgette', cursive;
    background: #FFD157;
    border: 1px solid #6B3D2E;
    box-sizing: border-box;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    font-size: 20px;
    width: 100px;
    height: 30px;
    margin-left: 10px;
}

.btnGo{
    width: 120px;
    text-align: center;
    height: 30px;
    margin-left: 120px; 
}
